:root {
  --font: 'Proxima Nova', sans-serif;
  --text-color: #f4f4f4;
  --error-color: rgb(210, 69, 69);
  --text-secondary: #c4c4c4;

  --block-background: #121212;
  --input-background: #151515;
  --input-border: #181818;
  --input-placeholder: #7c7c7c;
}