.player {
  border-top: 2px solid #181818;
  width: 100%;
  height: 90px;

  background-color: #1c1c1c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.manage {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.play, .pause {
  padding: 5px;
  cursor: pointer;
  transition: .2s all;
}

.play:active, .pause:active {
  transform: scale(0.95);
}

.play svg, .pause svg {
  width: 25px;
  height: 25px;
  fill: white;
}

.cover {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 15px;
}

.info p {
  color: var(--text-secondary);
}

.volume {
  position: relative;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  transition: .2s all;
}

.volume:active {
  transform: scale(0.95);
}

.volume:hover svg {
  fill: #c4c4c4;
}

.volume svg {
  fill: #7c7c7c;
  width: 30px;
  height: 30px;
}

.volumeTooltip {
  position: absolute;
  right: 25px;
  bottom: 90px;
  padding-bottom: 20px;
  display: none;
  transition: margin-bottom .2s cubic-bezier(0,1,1,1.5),opacity .2s;
}

.enterAnimation {
  opacity: 0;
  margin-bottom: -10px;
}

.enterToAnimation {
  opacity: 1;
  margin-bottom: 0;
}

.tooltipContent {
  width: 50px;
  height: 200px;
  padding: 15px;
  border-radius: 15px;
  background-color: #1c1c1c;
  position: relative;
  overflow: hidden;
}

.volumeRange {
  transform-origin: left bottom;
  bottom: 15px;
  width: 170px;
  left: calc(100% - 20px);
  position: absolute;
  transform: rotate(270deg);
  -webkit-appearance: none;
  background-color: #2d2d2d;
  height: 8px;
  border-radius: 5px;

  background-image: linear-gradient(#444444, #444444);
  background-size: 0 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
.volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #7367F0;
  cursor: pointer;
  transition: .2s transform;
}

.volumeRange::-moz-range-thumb{
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #7367F0;
  cursor: pointer;
  transition: .2s transform;
}

.volumeRange::-ms-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #7367F0;
  cursor: pointer;
  transition: .2s transform;
}

.volumeRange::-webkit-slider-thumb:hover{
  transform: scale(1.1);
}

.volumeRange::-moz-range-thumb:hover{
  transform: scale(1.1);
}

.volumeRange::-ms-thumb:hover {
  transform: scale(1.1);
}

/* Input Track */
.volumeRange::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volumeRange::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volumeRange::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}