.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
}

.overlay {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 90px);

  background-color: #181818;
}

.nav {
  width: 300px;
  flex: 0 0 300px;
  padding: 15px;
  background-color: #1c1c1c;
}

.nav > h2 {
  font-size: 30px;
  margin-bottom: 12px;
}

.link {
  display: flex;
  cursor: pointer;
  font-size: 18px;
  color: #7c7c7c;
  margin-top: 5px;
  padding: 12px 15px;
  border-radius: 15px;
  transition: .2s all;
  align-items: center;
}

.link svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  transition: .2s all;
  fill: #888888;
}

.link:active {
  transform: scale(0.97);
}

.link:hover svg {
  fill: #c5c5c5;
}

.link:nth-of-type(1).active > svg > path {
  stroke: #7367F0;
}

.link.active > svg {
  fill: #7367F0;
}

.link.active, .link:hover {
  font-weight: 600;
  color: #c5c5c5;
  background-color: #181818;
}

.main {
  flex: 1 0 auto;
  position: relative;
  padding: 35px;
}